<li data-id="<%= comment.id %>">
  <p><%= comment.text %> (<%= comment.vote_count %>) <% if current_user %><a href="#" class="like-button">+1</a><% end %></p>
  <div class="reply">
    <% if current_user %>
      <p><a href="#" class="reply-link">Reply</a></p>
    <% end %>
    <div class="reply-form hidden">
      <%= render "comment_comment_form", comment: comment %>
    </div>
  </div>
  <ul>
    <% comment.comments.each do |comment| %>
      <%= render "comment", comment: comment %>
    <% end %>
  </ul>

</li>