<h1 class="page-header text-center"><%= @post.title %></h1>
<p><%= @post.description %></p>
<p><%= link_to @post.url %></p>
<ul>
  <% @comments.each do |comment| %>
    <%= render "comment" comment %>
  <% end %>
</ul>

<%= render "comment_form" %>
